<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>VotoComoVamos</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="geral">
  <div id="topo">
    <div id="logo"> <a href="/"><img src="/assets/logo.png" alt="logotipo Voto Como Vamos" /></a>
    </div> <!--fecha div LOGO -->

    <div id="menu">
      <ul>
      <li><a href="<%=  proposals_path %>">Propostas</a></li>
      <li><a href="/partidos">Partidos</a></li>
      <li><a href="<%= candidates_path %>">Candidatos</a></li>
      </ul>
    </div> <!--fecha div MENU -->

    <div id="busca">
      <input name="buscar" type="text" id="buscar" placeholder="Buscar" />
    </div> <!--fecha div BUSCA -->
  </div>  <!--fecha div TOPO -->

  <div id="baixo">
    <div id="esquerda">
      <%= yield :left %>
      &nbsp;
    </div> <!--fecha div ESQUERDA -->

    <div id="direita">
      <div id="conteudo">
          <% if flash[:notice] %>
            <div class="alert-message success">
              <%= h flash[:notice] %>
            </div>
          <% end %>
          <% if flash[:error] %>
            <div class="alert-message error">
              <%= h flash[:error] %>
            </div>
          <% end %>

          <%= yield %>
        <div>
          <p class="acesse">acesse</p>
          <a class="linkbold" href="http://voto.poacomovamos.org/" target="_blank">voto.poacomovamos.org</a>
        </div>
      </div> <!--fecha div CONTEUDO -->

      <div id="rodape">
        <div class="loguinho"><img src="/assets/logo.png" alt="logotipo Voto Como Vamos" /></div>
        <address>&copy; Powered by Porto Alegre Como Vamos | Mantido por Porto Alegre Como Vamos</address>
      </div> <!--fecha div RODAPE -->
    </div> <!--fecha div DIREITA -->
  </div> <!--fecha div BAIXO -->
  </div> <!--fecha div GERAL -->
</body>
</html>
